extends ../base/layout.pug

block data
  include ../data/main-nav.data.pug

block variables
  -
    const title = "MNTN — Main";
    const hasHeader = true;
    const hasFooter = true;
    const currentPage = "main"; //- для остальных страниц пишем либо пустую строку, либо индекс

block append head
  //- используйте только для шрифта находящегося на первом экране
  link(rel="preload", href="fonts/gilroy-bold.woff2", as="font", crossorigin="anonymous")
  link(rel="preload", href="fonts/lato-regular.woff2", as="font", crossorigin="anonymous")

block nav
  +main-nav(mainNav)

block main
  main
    .container

block modals
  +modal("modal--feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")
    +modal-success()
