extends ../base/layout.pug

block data
  include ../data/main-nav.data.pug
  include ../data/stages.data.pug

block variables
  -
    const title = "MNTN — Main";
    const hasHeader = true;
    const hasFooter = true;
    const currentPage = "main"; //- для остальных страниц пишем либо пустую строку, либо индекс

block append head
  //- используйте только для шрифта находящегося на первом экране
  //- link(rel="preload", href="fonts/gilroy-bold.woff2", as="font", crossorigin="anonymous")
  //- link(rel="preload", href="fonts/lato-regular.woff2", as="font", crossorigin="anonymous")

block nav
  +main-nav(mainNav)

block main
  main
    .bg.bg--clouds.js-clouds
    .bg.bg--top-gradient
    .bg.bg--mnts.js-mnts
    .bg.bg--hill.js-hill
    .promo(data-target="Start")
      .promo__wrapper.container
        //- +socials().promo__socials
        //- +pagination().promo__pagination
        .promo__inner
          h1.title.title--yellow A Hiking guide
          p.promo__title Be prepared for the Mountains and beyond!
          button.promo__button.btn-reset.js-scroll-btn(data-page="01")
            span Scroll down
            +icon("icon-arrow-down", 16, 24)

    .stages#stages
      .stages__wrapper.container
        h2.visually-hidden Stages of hiking
        ul.stages__list
          each item, index in stagesList
            - const stageIndex = `0${index + 1}`;
            +card(item).stages__item(data-target=stageIndex)




block modals
  +modal("modal--feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")
    +modal-success()
