.stages {
  margin-bottom: 100px;

  &__wrapper {
    max-width: 75%;

    @include container {
      max-width: 85%;
    }

    @include tablet {
      max-width: 100% !important;
    }
  }

  &__list {
    @include list-reset;
  }

  &__item {
    margin-bottom: 200px;

    &:last-child {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 150px;
    }
  }

  @include mobile {
    margin-bottom: 50px;
  }
}
