.stages {
  position: relative;
  z-index: $layer-2;
  margin-bottom: 100px;
  padding-top: 100px;
  background-color: $color-black-pearl;
  box-shadow: 0 -40px 40px $color-black-pearl;

  &__wrapper {
    max-width: 75%;

    @include container {
      max-width: 85%;
    }

    @include tablet {
      max-width: 100% !important;
    }
  }

  &__list {
    @include list-reset;
  }

  &__item {
    margin-bottom: 200px;

    &:last-child {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 150px;
    }
  }

  @include mobile {
    margin-bottom: 50px;
  }
}
