.header {
  display: flex;
  align-items: center;
  min-height: 150px;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: $color-white;
    transition: opacity $default-transition-settings;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  a,
  p {
    color: $color-white;
  }

  @include tablet {
    min-height: 100px;
  }

  @include mobile {
    &__wrapper {
      position: initial;
    }
  }
}
