.main-nav {
  display: flex;
  position: relative;
  align-items: center;

  ul {
    @include list-reset;

    display: flex;

    @include tablet {
      position: absolute;
      left: 50px;
      top: -3px;
      min-width: 250px;
      transform: translateX(-200px);
      transform-origin: left;
      transition: transform $default-transition-settings, opacity 0.3s ease-in;
      opacity: 0;
      pointer-events: none;
    }

    @include mobile {
      top: 50px;
      left: 35px;
      min-width: auto;
    }
  }

  li {
    margin-right: 40px;
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;
    }

    @include tablet {
      margin-right: 25px;
    }
  }

  a {
    font-size: rem(18);
    text-decoration: none;
    transition: opacity $default-transition-settings, color $default-transition-settings;

    &:hover {
      color: $color-golden-glow;
    }

    &:active {
      opacity: 0.7;
    }

    @include tablet {
      font-size: rem(14);
    }
  }

  &--expanded {
    ul {
      @include tablet {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  @include tablet {
    order: -1;
  }
}
