mixin header(currentPage, headerMod)

  header(class=(headerMod) ? "header header--" + headerMod : "header")
    .header__wrapper.container
      if (currentPage === "main")
        a.header__logo
          img(src="img/content/logo.svg", alt="site logo", width="108", height="24")
      else
        a.header__logo(href="main.html", aria-label="Переход на главную")
          img(src="img/content/logo.svg", alt="site logo", width="108", height="24")
      block
      +account()
