-
  const mainNav = {
    links: [
      {
        "id": "0",
        "name": "Equipment",
        "url": "/",
      },
      {
        "id": "10",
        "name": "About Us",
        "url": "/",
      },
      {
        "id": "20",
        "name": "Blog",
        "url": "/",
      },
    ]
  };
-
