.account {
  &__btn {
    display: flex;
    align-items: center;
    color: $color-white;
    font-size: rem(18);
    transition: opacity $default-transition-settings, color $default-transition-settings;

    svg {
      margin-right: 10px;
    }

    &:hover {
      color: $color-golden-glow;
    }

    &:active {
      opacity: 0.7;
    }

    @include tablet {
      span {
        font-size: 0;
      }

      svg {
        margin-right: 0;
      }
    }
  }
}
