-
  const pagination = ['Start', '01', '02', '03'];

mixin pagination
  .overlay__pagination
    .overlay__pages
      ul
        each item in pagination
          li
            button(type="button", data-page=item) !{item}
