mixin socials()
  .socials
    span.socials__title Follow us
    ul.socials__list
      li
        a(href="/", aria-label="instagram profile")
          +icon("icon-insta", 20, 20)
      li
        a(href="/", aria-label="twitter profile")
          +icon("icon-twitter", 20, 20)
